/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


img{
  max-width: 100%;
  height:auto;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}
.header{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;/*貼齊版型*/
}
.header .logo{
    background: url("https://fakeimg.pl/250x250/ECFFFF/ACD6FF/?text=250x250&font=lobster");
  width: 250px;
  height: 250px;
  color:#ECFFFF;
}
.menu ul{
  display: flex;
  
}
.menu li{
  background: #3399FF;
}
.menu a{
  padding: 10px;  
  color:#fff;
  display: block;

}
.menu a:hover{
  background: #FF8000	;
}
.left{
  border : 2px solid ;
  padding: 10px;
  width:75%;
}
.left h2{
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 24px;
}
.left p{
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
}
.right{
  width: 20%;
  padding: 5px;
  border:2px solid;
}
.content{
  display: flex;
  justify-content: space-between;/*貼齊版型*/
}
.footer{
  padding: 8px;
  text-align: center;
}
@media(max-width:768px){
  .header .logo {
    background: url("https://fakeimg.pl/150x150/ECFFFF/ACD6FF/?text=150x150&font=lobster");
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .header{
    flex-direction:column;
    align-items: center;
  }
  .menu ul{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
  }
  .menu li{
    width: 50%;
    margin-bottom: 10px;
  }
  .menu a{
    text-align: center;
  }
  .content{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-between;
    margin: 10px;
  }
  .left{
    width: 100%;
    margin-bottom: 10px;
  }
  .right{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
  }
  .right img{
     padding: 10px;
  }
}